.accordionLogoHeader {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 6px 0;
    border-left: 1px solid rgba(220, 220, 220, 1);
    border-right: 1px solid rgba(220, 220, 220, 1);
    color: var(--echoText);
    flex-shrink: 0;
    height: fit-content;
}

.accordionExtraHeight {
    height: 60px;
}

.accordionLogoHeader:hover {
    background-color: var(--searchBarBackground);
}

.accordionLogoHeader .accordionLogoText > a {
    color: var(--echoText);
}

.accordionLogo {
    order: 1;
    width: 24px;
    height: 24px;
    margin: auto 28px auto 12px;
}
.accordionExternalLink {
    order: 3;
    margin: auto 0 auto 36px;
}

.accordionLogoText {
    order: 2;
    width: calc(100% - 128px);
    align-self: center;
    margin: auto 0;
}

.borderBottom {
    border-bottom: 1px solid rgba(220, 220, 220, 1);
}

.appMenuHeaderLink {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 0;
    color: var(--echoText);
}

.appMenuHeaderLink:hover {
    text-decoration: none;
}
