.echoButton {
    width: 90px;
    padding: 16px;
    display: inline-block;
    position: relative;
}

@media screen and (min-width: 420px) {
    .echoButton {
        width: 96px;
    }
}

.echoButton svg {
    margin: 0 8px;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
}

.echoButton span {
    display: inline-block;
    width: calc(96px - 32px);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #007079;
}

.echoButton:hover svg {
    fill: rgb(0, 79, 85);
}

.echoButton:hover span {
    color: rgb(0, 79, 85);
}
